body {
    background-color: rgb(248, 239, 239);
    font-family: 'Poppins', sans-serif;
}

header {
    font-size: 47px;
    background-color: rgb(98, 236, 151);
    color:rgb(0, 0, 0) ;
    padding: 1em;
    margin: 50px auto;
    width: 1165px;
    text-align: center;
    border-radius: 10px;
}






main {
    width: 1165px;
    background-color: white;
    margin: 50px auto;
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(18, 60px);
    grid-template-rows: repeat(10, 60px);
    box-shadow: 0 0 10px rgb(0, 0, 0);
}

main>div:hover {
    background-color: #ccc;
    
}

main>div {
    border-radius: 4px;
}


main>div>h2 {
    margin: 0;
    text-align: center;
}

main>div>span {
    font-size: 15px;
    display: block;
    padding: 3px;
}










.nao-metal {
    color: var(--nao-metal);
    background-color: MediumSpringGreen;
}

.gas-nobre {
    color: var(--gas-nobre);
    background-color: SpringGreen;
}

.metal-alcalino {
    color: var(--metal-alcalino);
    background-color: PaleGreen;
}

.metal-alcalino-terroso {
    color: var(--metal-alcalino-terroso);
    background-color: LightGreen;
}

.semimetal {
    color: var(--semimetal);
    background-color: DarkSeaGreen;
}

.halogenio {
    color: var(--halogenio);
    background-color: MediumSeaGreen;
}

.outros-metais {
    color: var(--outros-metais);
    background-color: SeaGreen;
}

.metal-transicao {
    color: var(--metal-transicao);
    background-color: DarkGreen;
}

.lantanideo {
    color: var(--lantanideo);
    background-color: Green;
}

.actinidio {
    color: var(--actinidio);
    background-color: ForestGreen;
}






/* 
/* :root{
	--bg-preto:rgb(231, 10, 10);
	--nao-metal:rgb(180,210,100);
	--gas-nobre:rgb(100,180,225);
	--metal-alcalino:rgb(245,200,100);
	--metal-alcalino-terroso:rgb(240,230,90);
	--semimetal:rgb(110,200,190);
	--halogenio:rgb(170,225,255);
	--outros-metais:rgb(190,210,210);
	--metal-transicao:rgb(245,175,175);
	--lantanideo:rgb(150,225,225);
	--actinidio:rgb(230,190,220);
 */







 
main>div:nth-child(2) {
    grid-column-start: 18;
}

main>div:nth-child(5) {
    grid-column: 13;
}

main>div:nth-child(13) {
    grid-column: 13;
}

main>div:nth-child(91) {
    grid-column: 13;
}

main>div:nth-child(72) {
    grid-column-start: 4;
    /* grid-row-start: 9; */
}

main>div:nth-child(104) {
    grid-column-start: 4;
    /* grid-row-start: 9; */
}


main>div:nth-child(57) {
    grid-column-start: 4;
    grid-row-start: 9;
}

main>div:nth-child(58) {
    grid-column-start: 5;
    grid-row-start: 9;
}

main>div:nth-child(59) {
    grid-column-start: 6;
    grid-row-start: 9;
}

main>div:nth-child(60) {
    grid-column-start: 7;
    grid-row-start: 9;
}

main>div:nth-child(61) {
    grid-column-start: 8;
    grid-row-start: 9;
}

main>div:nth-child(62) {
    grid-column-start: 9;
    grid-row-start: 9;
}

main>div:nth-child(63) {
    grid-column-start: 10;
    grid-row-start: 9;
}

main>div:nth-child(64) {
    grid-column-start: 11;
    grid-row-start: 9;
}

main>div:nth-child(65) {
    grid-column-start: 12;
    grid-row-start: 9;
}

main>div:nth-child(66) {
    grid-column-start: 13;
    grid-row-start: 9;
}

main>div:nth-child(67) {
    grid-column-start: 14;
    grid-row-start: 9;
}

main>div:nth-child(68) {
    grid-column-start: 15;
    grid-row-start: 9;
}

main>div:nth-child(69) {
    grid-column-start: 16;
    grid-row-start: 9;
}

main>div:nth-child(70) {
    grid-column-start: 17;
    grid-row-start: 9;
}

main>div:nth-child(71) {
    grid-column-start: 18;
    grid-row-start: 9;
}

main>div:nth-child(89) {
    grid-column-start: 4;
    grid-row-start: 10;
}

main>div:nth-child(90) {
    grid-column-start: 5;
    grid-row-start: 10;
}

main>div:nth-child(91) {
    grid-column-start: 6;
    grid-row-start: 10;
}


main>div:nth-child(92) {
    grid-column-start: 7;
    grid-row-start: 10;
}

main>div:nth-child(93) {
    grid-column-start: 8;
    grid-row-start: 10;
}

main>div:nth-child(94) {
    grid-column-start: 9;
    grid-row-start: 10;
}

main>div:nth-child(95) {
    grid-column-start: 10;
    grid-row-start: 10;
}


main>div:nth-child(96) {
    grid-column-start: 11;
    grid-row-start: 10;
}

main>div:nth-child(97) {
    grid-column-start: 12;
    grid-row-start: 10;
}

main>div:nth-child(98) {
    grid-column-start: 13;
    grid-row-start: 10;
}

main>div:nth-child(99) {
    grid-column-start: 14;
    grid-row-start: 10;
}

main>div:nth-child(100) {
    grid-column-start: 15;
    grid-row-start: 10;
}

main>div:nth-child(101) {
    grid-column-start: 16;
    grid-row-start: 10;
}

main>div:nth-child(102) {
    grid-column-start: 17;
    grid-row-start: 10;
}

main>div:nth-child(103) {
    grid-column-start: 18;
    grid-row-start: 10;
}